{%extends 'layout.html'%}
{%block body%}

<h1>Gracias Dios</h1>
<br>

<a href="/logout" type="button" class="btn btn-success">LogOut</a>
<br>

<section>
    <div class="card-group">
        <div class="card">
            <img src="{{url_for('static',filename='img/santos.jpeg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fragmento de la Carta a los Artistas de San Juan Pablo II</h5>
                <p class="card-text">Así pues, Dios ha llamado al hombre a la existencia, transmitiéndole la tarea de ser artífice. En la «creación artística» el hombre se revela más que nunca «imagen de Dios» y lleva a cabo esta tarea ante todo plasmando la estupenda « materia » de la propia humanidad y, después, ejerciendo un dominio creativo sobre el universo que le rodea. El Artista divino, con admirable condescendencia, trasmite al artista humano un destello de su sabiduría trascendente, llamándolo a compartir su potencia creadora. Obviamente, es una participación que deja intacta la distancia infinita entre el Creador y la criatura, como señalaba el Cardenal Nicolás de Cusa: «El arte creador, que el alma tiene la suerte de alojar, no se identifica con aquel arte por esencia que es Dios, sino que es solamente una comunicación y una participación del mismo»</p>
            </div>
        </div>
    </div>
</section>


{%endblock%}